.help-block {
    margin: 0 auto 5px;
    color: #CD1818;
}
.form-group {
    margin-bottom: 12.5px;
}

.home-option {
    display: block;
    margin: 0 auto 0;
    width: 35%;
}
.option-list {
    display: flex;
    justify-content: space-between;
    padding: 0 32px 0;
    list-style: none;
}

.option-list li {
width: 100px;
transition: 0.1s;
border: 2px solid #fff;
cursor: pointer;
margin-left: 32px;
margin-right: 32px;
}

.option-list li:hover {
    border-bottom: 2px solid #222;
}

.option-list .on-option {
    border-bottom: 2px solid #222;
}

.unstyled-anchor {
    color: inherit;
}
.unstyled-anchor:hover {
    color: inherit;
}

@media only screen and (max-width: 768px) {
  .home-option {
    width: 75%;
}
}

@media only screen and (max-width: 578px) {
  .h1-header {
    text-size: 0.5rem;
}
}




