{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Clean Blog{% endblock %}

{% block content %}
{% include "./layout/navbar.html" %}

<!-- Page Header-->
<header class="masthead" style="background-color: #{{ user.bg_color }}; padding: 120px 0 100px;">
    <div class="container position-relative px-1 px-lg-2">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ blog.title }}</h1>
                    <h2 class="subheading">{{ blog.subtitle }}</h2>
                    <span class="meta">
                        Posted by
                        <a href="{{ url_for('user_blogs', username=blog.author.username) }}">{{ blog.author.username }}</a>
                        {{ blog.date }}
                    </span>
                </div>
            </div>
        </div>
        {% if current_user.username == user.username %}
        <div class="text-center mt-5 mb-0">
            <a class="btn btn-outline-primary text-center float-center mx-1"
               href="{{ url_for('edit_blog', username=current_user.username, blog_id=blog.id) }}">Edit the blog</a>
            <a class="btn btn-outline-danger text-center float-center mx-1"
               href="{{ url_for('delete_blog', username=current_user.username, blog_id=blog.id) }}">Delete the blog</a>
        </div>
        {% endif %}
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
                {{ blog.body|safe }}
                <!--           Comments Area -->
                {{ ckeditor.load() }}
                {{ ckeditor.config(name='comment') }}
                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

                <div class="col-lg-8 col-md-10  comment">

                    <h4 class="mt-4">Comments</h4>
                    <ul class="list-group mt-3">
                        {% for comment in blog.comments %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{ comment.comment_author.username }}</div>
                                <small>{{ comment.text|safe }}</small>
                            </div>
                            <span class="badge bg-light rounded-pill"><img src="{{ comment.comment_author.email | gravatar }}"/></span>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>

        </div>


    </div>
</article>


{% include "./layout/footer.html" %}
{% endblock %}




