{% extends 'base.html' %}

{% block title %}Clean Blog{% endblock %}

{% block content %}
{% include "./layout/navbar.html" %}
{% include "./layout/header.html" %}

<!-- Main Content-->

        <div class="home-option text-center mb-4">
            <ul class="option-list">
                <li class="{{ 'on-option' if option != 'fav' else '' }}"><a class="unstyled-anchor" href="{{ url_for('home') }}">Posts</a></li>
                <li class="{{ 'on-option' if option == 'fav' else '' }}"><a  class="unstyled-anchor" href="{{ url_for('favorites') }}">Favorites</a></li>
            </ul>
        </div>
        {% if option != "fav" %}
        <!-- Posts section -->
        <section id="posts">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
                            <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 24, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->


                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
        </section> <!-- end of the posts -->
        {% endif %}
{% include "./layout/footer.html" %}
{% endblock %}


