{% extends 'base.html' %}

{% block title %}Clean Blog{% endblock %}

{% block content %}
{% include "./layout/navbar.html" %}
{% include "./layout/header.html" %}

<!-- Main Content-->
{% if current_user.username == user.username %}
<div class="home-option text-center mb-4">
    <ul class="option-list">
        <li class="{{ 'on-option' if option != 'fav' else '' }}"><a class="unstyled-anchor"
                                                                    href="{{ url_for('user_blogs', username=current_user.username) }}">Posts</a>
        </li>
        <li class="{{ 'on-option' if option == 'fav' else '' }}"><a class="unstyled-anchor"
                                                                    href="{{ url_for('favorites', username=current_user.username) }}">Favorites</a>
        </li>
    </ul>
</div>
{% endif %}
<div class="container px-4 px-lg-5 mb-5">
    {% if option != "fav" %}
    <!-- Main Content-->

    {% if blogs|length == 0 %}
    <div class="text-center mt-5 lead">
        <p><u>{{ user.username }} has no blog yet</u></p>
    </div>
    {% endif %}
    {% for blog in blogs %}
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{{ url_for('blog', username=blog.author.username, blog_id=blog.id) }}">
                    <h2 class="post-title">
                        {{ blog.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ blog.subtitle }}
                    </h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="{{ url_for('user_blogs', username=blog.author.username) }}">{{blog.author.username}}</a>
                    {{ blog.date }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4"/>

        </div>
    </div>
    {% endfor %}

    <!-- Pager-->

    {% if blogs|length != 0 %}
    <div class=" justify-content-end mb-4 text-center">
        <a class="btn btn-primary text-uppercase" href="{{ url_for('all_blogs', username=user.username) }}"
        >Older Posts →</a
        >
    </div>
    {% endif %}
    {% else %}
    {% for favorite in current_user.favouring %}
    <div class="row  gx-lg-5 justify-content-center">
        <div class="card mb-3 col-md-8 col-lg-6 col-xl-6">
            <a href="{{ url_for('user_blogs', username=favorite.username) }}">
            <div class="card-body">
                <h5 class="card-title">{{ favorite.username }}</h5>
                <p class="card-text mt-0">{{ favorite.bio }}</p>
            </div></a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% include "./layout/footer.html" %}
{% endblock %}


