{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container col-lg-4 col-md-8 col-sm-10 mx-auto my-5">
    <h2 class="my-4">Login</h2>
    <p><b>Clean Blog: </b>
    Unleash your creativity and connect with like-minded writers. Log in to share your thoughts and engage in meaningful conversations.</p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="text-warning my-1">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
   <form method="POST">
    {{ form.csrf_token }}

    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        {{ form.username(class="form-control", id="username") }}
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
            {{ form.password(class="form-control", id="password") }}
            <div class="input-group-append">
                <button
                    class="btn btn-outline-secondary"
                    type="button"
                    id="showPasswordBtn"
                    onclick="togglePasswordVisibility()"
                    value="submit"
                >
                    Show
                </button>
            </div>
        </div>
    </div>

    <p><a href="{{ url_for('reset_password') }}">Forgot account</a></p>

    <button type="submit" class="btn btn-primary">Login</button>
    <a type="submit" class="btn btn-secondary" href="{{ url_for('register') }}">Register</a>
</form>
</div>

{% endblock %}

