{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="container col-lg-4 col-md-8 col-sm-10 mx-auto my-5">

    <h2 class="my-4">Sign Up</h2>
    <p><b>Clean Blog: </b>
        Unleash your creativity and connect with like-minded writers. Log in to share your thoughts and engage in
        meaningful conversations.</p>
    <form method="POST" novalidate>
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    </form>
</div>

{% endblock %}

