<header class="masthead pb-5" style="background-color: #{{ user.bg_color }};">
    <div class="container position-relative">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-12 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 class="h1-header">{{ user.username }}</h1>
                    <span class="subheading">{{ user.bio if user.bio != None else '' }}</span>
                </div>

            </div>

        </div>
        <div class="text-center mt-4 mb-0">
            {% if current_user.username == user.username %}

            <a class="btn btn-outline-primary text-center float-center mx-auto"
               href="{{ url_for('blog_post', username=current_user.username) }}">Post a blog</a>

            {% elif current_user.username %}
            <a class="btn btn-outline-primary text-center float-center mx-auto"
               href="{{ url_for('favorite', username=current_user.username, username_to_favorite=user.username) }}">
                {{ 'Remove from favorites' if user in current_user.favouring else 'Add to favorites' }}
            </a>

            {% endif %}
        </div>

    </div>

</header>
